* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #000;
  color: #fff;
  font-size: 1.4rem;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
}

img {
  width: 100%;
}

.container {
  padding: 2rem 1rem;
  padding-top: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  text-transform: uppercase;
  border: solid 0.1rem;
  padding: 1rem;
}

.nav__menu {
  z-index: 1500;
  cursor: pointer;
}

.nav__list {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1400;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.nav__item-link {
  display: block;
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.nav__menu-burger {
  font-size: 3rem;
}

.nav__menu-close {
  display: none;
  font-size: 3rem;
}

.menu-open .nav__menu .nav__menu-close {
  display: block;
}

.menu-open .nav__menu .nav__menu-burger {
  display: none;
}

.menu-open .nav__list {
  opacity: 1;
  transform: scale(1);
}


